@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

// var font
$fontShrikhand : 'Shrikhand', cursive;
$fontRoboto : 'Roboto', sans-serif;

// var color
$primaryColorPurple : #9356DC;
$secondaryColorPink : #FF79DA;
$tertiaryColorBlue : #99E2D0;
$greyColor : #f6f6f6;

// var breakpoints
$firstBreakpoint : 768px;
$secondBreakpoint : 992px;
$thirdBreakpoint : 1024px;
$finalBreakpoint : 1400px;


