@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Fin reset et html elements*/
* {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
}
.header div {
  display: flex;
  justify-content: center;
  padding: 20px 0 10px 0;
}
.header div img {
  width: 160px;
  height: auto;
}
.header a {
  position: absolute;
  color: #000;
  top: 50%;
  left: 25px;
  padding: 0.5rem;
  transform: translateY(-50%);
}
.header a:hover, .header a:active {
  background-color: #f6f6f6;
}

.imageSection {
  position: relative;
}
.imageSection div {
  width: 100%;
  max-width: 100%;
  height: 200px;
}
.imageSection div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 230px;
  width: 100%;
  border-radius: 1.2em 1.2em 0 0;
  background-color: #f6f6f6;
  height: 70px;
}
.title h1 {
  font-size: 1.6rem;
  padding-left: 1.2rem;
  font-family: "Shrikhand", cursive;
}
.title i {
  font-size: 1.5rem;
  margin-right: 2.8rem;
  opacity: 0.65;
  cursor: pointer;
}
.title i:active, .title i:hover {
  color: #f11818;
  border-radius: 50%;
}
.title i:active::before, .title i:hover::before {
  content: "";
  font-weight: bold;
  color: #eb2929;
  transition: color 0.7s linear;
}

.entranceSection {
  background-color: #f6f6f6;
  padding: 1.2rem;
  margin-top: 30px;
}
.entranceSection__entrance h2 {
  opacity: 0.8;
  padding: 0.2rem 0 0.3rem 0.2rem;
}
.entranceSection__entrance .line {
  margin-left: 0.2rem;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.entranceSection__containerCard {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-around;
  background-color: #FFF;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  border-radius: 13px;
  margin-bottom: 15px;
  box-shadow: 3px 3px 6px #adabab;
}
.card__container1 {
  width: 99%;
}
.card__anim {
  width: 0;
  display: flex;
  transition: 0.8s;
  color: #FFF;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #99E2D0;
}
.card__anim i {
  font-size: 1.8rem;
  transition: 0.5s;
}
.card:hover .card__anim {
  width: 5.5em;
  margin-left: 10px;
}
.card:hover .card__anim i {
  transform: rotate(360deg);
}
.card:hover .card__container1 .card__p {
  margin-right: -80px;
  max-width: 85%;
}
.card:hover .card__container1 .card__cont p {
  margin-right: -80px;
  max-width: 78%;
}
.card__p {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.65rem 0 0.2rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: 1s;
}
.card__cont {
  display: flex;
  padding-bottom: 0.65rem;
  padding-top: 0.2rem;
  justify-content: space-between;
}
.card__cont p {
  margin-left: 0.5rem;
  font-size: 0.95rem;
  opacity: 0.8;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: 1s;
}
.card__cont span {
  padding-right: 1.1rem;
  font-weight: bold;
  opacity: 0.9;
  margin-left: 10px;
}

.middleSection {
  background-color: #f6f6f6;
  padding: 1.2rem;
}
.middleSection__middle h2 {
  opacity: 0.8;
  padding: 0.2rem 0 0.3rem 0.2rem;
}
.middleSection__middle .line {
  margin-left: 0.2rem;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.middleSection__containerCard {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.dessertSection {
  background-color: #f6f6f6;
  padding: 1.2rem;
}
.dessertSection__dessert h2 {
  opacity: 0.8;
  padding: 0.2rem 0 0.3rem 0.2rem;
}
.dessertSection__dessert .line {
  margin-left: 0.2rem;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.dessertSection__containerCard {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.containerButton {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
.containerButton button {
  padding: 0.9em 0;
  border-radius: 2rem;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  color: #FFF;
  font-weight: 400;
  box-shadow: 1px 3px 6px 1px #ccc6c6;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  transition: background 0.3s, cursor 0.5s;
}
.containerButton button:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 2px 3px 6px 1px #c2bebe;
}

.footer {
  background-color: #353535;
  color: #FFF;
  padding: 1rem 1.2rem 1.5rem 1.2rem;
}
.footer h2 {
  font-size: 1.2rem;
  font-family: "Shrikhand", cursive;
  padding: 0.5rem 0 1rem 0;
}
.footer div {
  display: flex;
  flex-direction: column;
}
.footer div a {
  color: #FFF;
  padding: 0.2rem;
  text-decoration: none;
}
.footer div a:hover {
  text-decoration: underline;
}
.footer div a span {
  padding-right: 0.5rem;
}
.footer div a .footer__span2 {
  padding-right: 3px;
}
.footer div i {
  font-size: 0.8rem;
}
.footer div .handsIcon {
  font-size: 0.75rem;
}

.entranceSection__containerCard .card:nth-child(1) {
  animation: appearance 1.3s linear forwards 0.6s;
}
.entranceSection__containerCard .card:nth-child(2) {
  animation: appearance 1.3s linear forwards 0.8s;
}
.entranceSection__containerCard .card:nth-child(3) {
  animation: appearance 1.3s linear forwards 1s;
}
.entranceSection__containerCard .card:nth-child(4) {
  animation: appearance 1.3s linear forwards 1.2s;
}

.middleSection__containerCard .card:nth-child(1) {
  animation: appearance 1.3s linear forwards 1.4s;
}
.middleSection__containerCard .card:nth-child(2) {
  animation: appearance 1.3s linear forwards 1.6s;
}
.middleSection__containerCard .card:nth-child(3) {
  animation: appearance 1.3s linear forwards 1.8s;
}

.dessertSection__containerCard .card:nth-child(1) {
  animation: appearance 1.3s linear forwards 2s;
}
.dessertSection__containerCard .card:nth-child(2) {
  animation: appearance 1.3s linear forwards 2.2s;
}
.dessertSection__containerCard .card:nth-child(3) {
  animation: appearance 1.3s linear forwards 2.4s;
}

@keyframes appearance {
  from {
    opacity: 0;
    transform: translate(0, 33%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media screen and (min-width: 1024px) {
  .sectionGeneralContainer {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas: "entrance middle dessert";
  }

  .entranceSection {
    grid-area: entrance;
    padding-right: 0.15rem;
  }

  .middleSection {
    grid-area: middle;
    margin-top: 30px;
    padding-right: 0.15rem;
  }

  .dessertSection {
    grid-area: dessert;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=menuStyle.css.map */
