@import "./var_colors_and_fonts.scss";
@import "./module/reset.scss";

// HTML Elements
@import "./HTML_elements/footer.scss";

// mixin
@import "./HTML_elements/mixin/header.scss";
@import "../sass/mixin/mixinButton.scss";

/*Fin reset et html elements*/

* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: $fontRoboto

}

.header {
    position: relative;

    a {
        position: absolute;
        color: #000;
        top: 50%;
        left: 25px;
        transform: translateY(-30%);
    }

    @include header;
}

.imageSection {
    position: relative;
    div {
        width: 100%;
        max-width: 100%;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 230px;
    width: 100%;
    border-radius: 1.2em 1.2em 0 0;
    background-color: $greyColor;
    height: 70px;

    h1 {
        font-size: 1.6rem;
        font-family: $fontShrikhand;
    }

    i {
        font-size: 1.5rem;
        opacity: .65;
    }
}

.entranceSection {
    background-color: $greyColor;
    padding: 1rem;
    margin-top: 30px;

    &__entrance {
        h2 {
            opacity: .8;
            padding: .2rem 0 .3rem .2rem;
        }

        .line {
            margin-left: .2rem;
            width: 40px;
            height: 3px;
            background-color: $tertiaryColorBlue;
        }
    }

    &__containerCard {
        margin-top: 15px;
        display: flex;
        flex-direction: column;       
    }
}

.card {
    // border: 1px solid blue;
    background-color: #FFF;
    border-radius: 13px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 6px rgb(173, 171, 171);

    &__p {
        font-weight: bold;
        font-size: 1.1rem;
        padding: .65rem 0 .2rem .5rem;
    }

    &__cont {
        display: flex;
        padding-bottom: .65rem;
        padding-top: .2rem;
        justify-content: space-between;

        p {
            margin-left: .5rem;
            font-size: .95rem;
            opacity: .8;
        }

        span {
            padding-right: 1.1rem;
            font-weight: bold;
            opacity: .9;
        }
    }
}

.middleSection {
    background-color: $greyColor;
    padding: 1rem;

    &__middle {
        h2 {
            opacity: .8;
            padding: .2rem 0 .3rem .2rem;
        }

        .line {
            margin-left: .2rem;
            width: 40px;
            height: 3px;
            background-color: $tertiaryColorBlue;
        }
    }

    &__containerCard {
        margin-top: 15px;
        display: flex;
        flex-direction: column;       
    }
}

.dessertSection {
    background-color: $greyColor;
    padding: 1rem;

    &__dessert {
        h2 {
            opacity: .8;
            padding: .2rem 0 .3rem .2rem;
        }

        .line {
            margin-left: .2rem;
            width: 40px;
            height: 3px;
            background-color: $tertiaryColorBlue;
        }
    }

    &__containerCard {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }
}

.containerButton {
    display: flex;
    justify-content: center;
    background-color: $greyColor;

    @include button(40px, 40px);
    // button {
    //     padding: .9em 1.2em .9em 1.2em;
    //     border-radius: 2rem;
    //     background: linear-gradient(170deg, $secondaryColorPink, $primaryColorPurple);
    //     border: none;
    //     color: #FFF;
    //     font-weight: 400;
    //     font-family: $fontRoboto;
    //     font-size: 1rem;
    //     margin-bottom: 40px;

    //     //modificateur
    //     padding-left: 40px;
    //     padding-right: 40px;
    //     }
}