@import "./var_colors_and_fonts.scss";
@import "./module/reset.scss";

// HTML Elements
@import "./HTML_elements/footer.scss";

// mixin
@import "./HTML_elements/mixin/header.scss";
@import "../sass/mixin/mixinButton.scss";

/*Fin reset et html elements*/

* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: $fontRoboto

}

.header {
    position: relative;

    a {
        position: absolute;
        color: #000;
        top: 50%;
        left: 25px;
        padding: .5rem;
        transform: translateY(-37%);
    }

    @include header;
}

.imageSection {
    position: relative;
    div {
        width: 100%;
        max-width: 100%;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 230px;
    width: 100%;
    border-radius: 1.2em 1.2em 0 0;
    background-color: $greyColor;
    height: 70px;

    h1 {
        font-size: 1.6rem;
        font-family: $fontShrikhand;
    }

    i {
        font-size: 1.5rem;
        opacity: .65;

        &:active {
                color: rgb(219, 27, 27);
                border-radius: 50%;
            }

        &:active::before {
                content: "\f004";
                font-weight: bold;
                transition: color 1.2s ease-out;
            }
    }
}

.entranceSection {
    background-color: $greyColor;
    padding: 1.2rem;
    margin-top: 30px;

    &__entrance {
        h2 {
            opacity: .8;
            padding: .2rem 0 .3rem .2rem;
        }

        .line {
            margin-left: .2rem;
            width: 40px;
            height: 3px;
            background-color: $tertiaryColorBlue;
        }
    }

    &__containerCard {
        margin-top: 15px;
        display: flex;
        flex-direction: column;       
    }
}

.card {
    // border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    cursor: pointer;
    overflow: hidden;
    border-radius: 13px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 6px rgb(173, 171, 171);

    &__container1 {
        width: 99%;
    }

    &__anim {

        width: 0;
        display: flex;
        transition: 1.5s;
        color: #FFF;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: $tertiaryColorBlue;

        i {
            font-size: 1.8rem;
            transition: 1s;
        }
    }

    &:hover .card__anim  {
        width: 25%;
        
    }

    &:hover .card__anim i {
        transform: rotate(360deg);
    }



    &__p {
        // display: inline;
        font-weight: bold;
        font-size: 1.1rem;
        padding: .65rem 0 .2rem .5rem;
    }

    &__cont {
        display: flex;
        padding-bottom: .65rem;
        padding-top: .2rem;
        justify-content: space-between;

        p {
            margin-left: .5rem;
            font-size: .95rem;
            opacity: .8;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        span {
            padding-right: 1.1rem;
            font-weight: bold;
            opacity: .9;
        }
       
    }
}

.middleSection {
    background-color: $greyColor;
    padding: 1.2rem;

    &__middle {
        h2 {
            opacity: .8;
            padding: .2rem 0 .3rem .2rem;
        }

        .line {
            margin-left: .2rem;
            width: 40px;
            height: 3px;
            background-color: $tertiaryColorBlue;
        }
    }

    &__containerCard {
        margin-top: 15px;
        display: flex;
        flex-direction: column;       
    }
}

.dessertSection {
    background-color: $greyColor;
    padding: 1.2rem;

    &__dessert {
        h2 {
            opacity: .8;
            padding: .2rem 0 .3rem .2rem;
        }

        .line {
            margin-left: .2rem;
            width: 40px;
            height: 3px;
            background-color: $tertiaryColorBlue;
        }
    }

    &__containerCard {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }
}

.containerButton {
    display: flex;
    justify-content: center;
    background-color: $greyColor;

    // take 2 params (padd-l and padd-r)
    @include button(40px, 40px);
}