@import "./utils/variable/variables";
@import "./module/reset";

// layouts
@import "./layout/footer";
@import "./layout/header";

// mixin
@import "./utils/mixin/mixinButton";

/*Fin reset et html elements*/

* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: $fontRoboto

}

body {
    position: relative;
}

main {
    opacity: 0;
    animation: visibilityOk 7.5s 1 forwards;
}


@keyframes visibilityOk {
    0% {
            opacity: 0;
    }
    50% {
            opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.spinnerContainer {
    position: absolute;
    top: 40vh;
    left: 50vw;
    z-index: 5;
    transform: translateX(-50%);
    animation: displayNone 4s 1 forwards;
    transition: 1s;

    div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 200px;
        height: 200px;
        border: 20px solid transparent;
        border-radius: 50%;
        border-top-color: $primaryColorPurple;
        border-right-color: $tertiaryColorBlue;
        border-bottom-color: $secondaryColorPink;
        border-left-color: $tertiaryColorBlue;
        animation: spinner1 2 2s;

        p {
            font-family: $fontShrikhand;
        }        
    }

    div:nth-child(2) {
        position: absolute;
        top: -20px;
        left: 0;
        width: 200px;
        height: 240px;
        border: 5px solid transparent;
        border-radius: 50%;
        border-top-color: rgb(117, 114, 114);
        border-bottom-color: rgb(117, 114, 114);
        animation: spinner2 2 2s;
    }
}

@keyframes spinner1 {
    0% {
        transform: rotate(0);
        border-width: 22px;
    }

    50% {
        border-width: 1px;

    }

    100% {
        transform: rotate(360deg);
        border-width: 22px;
    }
}

@keyframes spinner2 {
    0% {
        transform: rotate(0);
        border-width: 5px;
    }

    50% {
        transform: rotate(360deg);
        border-width: 2px;
        top: -30px;
        height: 260px;

    }

    100% {
        transform: rotate(360deg);
        border-width: 5px;
    }
}

@keyframes displayNone {
    100% {
        visibility: hidden;
    }
}

.header {
    @include header;
}

// -------------------sectionReserve
.inputPosition {
    border-top: 3px solid #cfcfcf;
     display: flex;
        justify-content: center;
        background-color: #eaeaea;
        padding: 0.1rem;

        .positionIcon {
            font-size: .8rem;
            padding: .6rem .4rem .6rem 0rem;
            margin-left: 3.5rem;
            margin-top: 2px;
        }

        input {
            border: none;
            padding: .6rem .4rem .6rem .3rem;
            background-color: transparent;
            font-size: 1rem;
            color: #404040;
            font-weight: 600;
            font-family: $fontRoboto;

        }
}
.sectionReserve {

    &__div {
        background-color: $greyColor;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-family: $fontRoboto;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 2rem 3.3rem 0.5rem 3.3rem;
            text-align: center;
        }

        p {
            font-family: $fontRoboto;
            margin-top: 10px;
            font-size: 1.1rem;
            color: #7d7d7d;
            text-align: center;
            padding-bottom: 2rem;
        }

        // take 2 params (padd-l and padd-r)
        @include button(.9em,.9em);
        
    }
}

// --------------------sectionOperation

.sectionOperation {
    // border: 1px solid black;
    padding: 1.2rem;
    margin-top: 20px;

    h1 {
        font-size: 1.4rem;
        font-weight: bold;       
    }

    .sectionOperation__container {
        display: flex;
        flex-direction: column;
      
    }
}

.sectionOperation__bubble {
    position: relative;
    padding: 1rem 0;
    border-radius: 19px;
    margin-top: 20px;
    background-color: $greyColor;

    .bubble__number {
        position: absolute;
        left: -10px;
        top: 22px;
        display: inline;
        border-radius: 1rem;
        font-size: .9rem;
        text-align: center;
        color: #FFF;
        padding: 0.25rem 0.45rem;
        background-color: $primaryColorPurple;
    }
    
    .bubble__container {
        display: flex;
        justify-content: start;
        align-items: center;

        .bubble__icon {
            padding: 0.5rem;
            font-size: 1.2rem;
            color: rgba(126,126,126,1);
            margin-right: 18px;
            margin-left: 25px;

            &--purple {
                color: $primaryColorPurple;
            }
        }

        p {
            font-weight: bold;
            margin-top: .3rem;
        }
    }

    &--purple {
        background-color: #f5edff;
    }
}

// -------------------sectionRestaurant

.sectionRestaurant {
    margin-top: 20px;
    padding: 2rem 1.2rem 3.5rem 1.2rem;
    background-color: $greyColor;

    h1 {
        font-size: 1.4rem;
        padding: 1rem 0 1rem 0;
        font-weight: bold; 
    }
    
    &ContainerCard {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    
    
    &__Card {
        width: 100%;
        height: 200px;
        border-radius: 1rem;
        background-color: #FFF;
        box-shadow: 3px 3px 8px rgb(173, 171, 171);
        
        
        a {
            text-decoration: none;
            
        }
        
        .containerImgCard {
            position: relative;
            height: 70%;
            border-radius: 1rem 1rem 0 0;
            
            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem 1rem 0 0;

            }

            .new {
                background-color: $tertiaryColorBlue;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                top: 20px;
                right: 20px;
                width: 100px;
                padding: 0;
                p {
                    padding: 0.5rem;
                    text-align: center;
                    color: #2c7c69;
                    font-weight: bold;
                }
            }
        }
        
        .containerTextCard {
            display: flex;
            justify-content: space-between;
            padding: .7rem .5rem 0 .5rem;
            color: #000;

            h2 {
                font-weight: bold;
                color: #000;
                font-size: 1.1rem;
            }

            i {
                font-size: 1.25rem;
                margin: 0.3rem .5rem 0 0;
                cursor: pointer;
                opacity: 0.8;
                transition: 0.2s linear;
            }  
            
            .heartEmpty:active, .heartEmpty:hover {
                color: $primaryColorPurple;
                border-radius: 50%;

                &::before {
                    color: $primaryColorPurple;
                    content: "\f004";
                    font-weight: bold;
                }
            }
        }

        p {
            padding: 0 0 .2rem .5rem;
            color: #000;
            font-weight: 100;
            font-size: 0.95rem;
        }
    }   
}


.footer {
    @include footer;
}
// media query section-----------------------

// 768px firstBreak
@media screen and (min-width: $firstBreakpoint) {
    main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "inputPosition inputPosition"
                             "reserve operation"
                             "restaurant restaurant";                            
    }

    .inputPosition {
        grid-area: inputPosition;
    }

    .sectionReserve {
        grid-area: reserve;

        &__div {
            height: 300px;

            h1 {
                padding-top: 1rem;
            }

            p {
                padding: 1rem .5rem;
                margin-bottom: 2rem;
            }          
        }
    }

    .sectionOperation {
        grid-area: operation;
        margin-top: 0;
        padding-top: 1rem;
        background-color: transparent;

    }

    .sectionRestaurant {
        grid-area: restaurant;
    }
}

// 992px secondBreak
@media screen and (min-width: $secondBreakpoint) {
    .sectionRestaurant {
         &ContainerCard {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 1.45vw;
            column-gap: 1.8%;
        }

        &__Card {
            width: 49.1%;
            min-width: 49.1%;
        }
    }
}








