@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

// var font
$fontShrikhand : 'Shrikhand', cursive;
$fontRoboto : 'Roboto', sans-serif;

// var color
$primaryColorPurple : #9356DC;
$econdaryColorPink : #FF79DA;
$tertiaryColorBlue : #99E2D0;